<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Free Static Blog Hosting | post.ruhoh.com</title>
    <style type="text/css">
      /*theme by http://www.colourlovers.com/palette/1365249/c_r_a_n_b_e_r_r_y_**/
      html, body {
        padding:0; margin:0;
        font: normal 14px/1.57em "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Helvetica Neue",Arial,Helvetica,sans-serif;
        color:#4B5640;
        height:100%;
      }
      body {
        position:relative;
      }
      input {
        border:1px solid #C4E0A6;
        padding:5px;
        font-size:1.1em;
        width:50%;
        color:#607848;
      }
      input.default {
        color:#777;
      }
      button {
        font-size:1.1em;
      }
      .warn {color:#BD3737; font-weight:bold;}

      #signin {
        text-align:center;
      }
      #greeting {
        position:absolute;
        padding-right:20px;
        background-color:#4B5640;
        color:#FCF9CE;
        font-size:0.9em;
      }
      #greeting img {
        border-right:1px solid #FCF9CE;
        margin-right:20px;
        vertical-align:middle
      }

      #instructions, #signin {
        background:#C4E0A6;
        padding:10px;
        color:#4B5640;
      }
      #instructions .inner {
        width: 70%;
        margin:auto;
      }
      #instructions input {
        width:80%;
      }
      
      table#repositories {
        width:100%;
        border-collapse:collapse;
      }
      #repositories tr th{
        text-align:left;
        background-color:#FFF;
        padding:7px;
        font-size:1.2em;
      }
      #repositories tr:hover td {
        background-color:#FCF9CE;
      }
      #repositories td {
        padding:7px;
        background-color:#FFF;
      }

      #repositories td.repository {
        width:33%;
      }
      #repositories td.domain {
      }
      
      #footer{
        position:fixed;
        bottom:0;
        width:100%;
        border-bottom: 5px solid #D54C4A;
      }
      
      #status-bar{
        height:40px;
      }
      .alert {
        height:40px;
        line-height:3em;
        font-weight:bold;
        padding:0 10px;
        border-left:40px solid #FFF;
        border-top:1px solid #FFF;
        text-align:right;
        position:relative;
      }
      .alert span{
        position:absolute;
        top:0;
        left:10px;
        text-align:left;
      }
      .alert:before{
        content: "[x]"
      }
      .alert-error {
        border-color:#BD3737;
        color:#BD3737;
      }
      .alert-notice {
        border-color:#D54C4A;
        color:#D54C4A;
      }
      .alert-success {
        border-color:#4B5640;
        color:#4B5640;
      }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  
  <body>
    <%= @body %>
    
    <div id="footer"></div>
  </body>
</html>  