<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Free Static Blog Hosting | post.ruhoh.com</title>
    <style type="text/css">
      /*theme by http://www.colourlovers.com/palette/1365249/c_r_a_n_b_e_r_r_y_**/
      html, body {
        padding:0; margin:0;
        font: normal 14px/1.57em "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Helvetica Neue",Arial,Helvetica,sans-serif;
        color:#4B5640;
        height:100%;
      }
      input {
        border:0;
        border-right:5px solid #DEA37A;
        padding:5px;
        font-size:20px;
        width:50%;
        color:#D54C4A;
        background-color:#FCF9CE;
      }
      .warn {color:#BD3737}

      #signin {
        text-align:center;
      }
      
      #greeting {
        position:absolute;
        padding-right:20px;
        background-color:#4B5640;
        color:#FCF9CE;
        font-size:0.9em;
      }
      #greeting img {
        border-right:1px solid #FCF9CE;
        margin-right:20px;
        vertical-align:middle
      }

      #instructions {
        background:#C4E0A6;
        margin-bottom:10px;
        padding:10px;
        color:#4B5640;
        text-align:center;
      }

      table#repositories {
        width:100%;
        border-collapse:collapse;
      }
      #repositories tr th{
        text-align:left;
        background-color:#FFF;
        padding:7px;
        font-size:1.2em;
      }
      #repositories td {
        padding:7px;
        border-bottom:1px solid #C4E0A6;
        background-color:#FFF;
      }
      #repositories td.repository {
        width:33%;
      }
      #repositories td.domain {
      }
    </style>
  </head>
  
  <body>
    <%= @body %>
  </body>
  
</html>  