<div id="signin" class="box">
  <p>
    <strong>post.ruhoh.com</strong> provides free and automatic blog hosting for ruhoh blogs
    managed via GitHub.
  </p>
  <p>
    <strong style="color:green">NEW:</strong> Map your custom domain to our service!
  </p>
  <p>
    <a href="/auth/github">Authenticate with GitHub</a>
  </p>

  <small>
    Learn more about <a href="http://ruhoh.com" title="ruhoh universal static blogging engine">ruhoh</a>, the universal static blogging engine.
  </small>
</div>